.forgot-password-page {
  margin-top: 25px;
}
.card-subtitle {
  font-size: 16px;
  font-weight: 400 !important;
}
.return-link {
  font-size: 22px;
  cursor: pointer;
  color: #4d61fc;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.return-link:hover {
  text-decoration: underline;
}
.custom-ul li {
  font-size: 16px;
  margin-bottom: 10px;
}
.support-link {
  cursor: pointer;
  color: #4d61fc;
  text-decoration: none;
  font-weight: 600;
}
.support-link:hover {
  text-decoration: underline;
}
