.appDiv {
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: start;
}
.d-flex {
  display: flex;
}
.justify-content-flex-start {
  justify-content: flex-start;
}
.main-row {
  width: 100%;
  padding: 70px 120px;
}
.card {
  padding: 44px 54px 38px;
  width: 45%;
  border-radius: 8px;
}
.custom-label {
  font-size: 16px;
}
.add-spinner :before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.15;
  background: #00000040;
  z-index: 9999;
}
@media only screen and (max-width: 800px) {
  .main-row {
    padding: 20px;
  }
  .card {
    padding: 10px;
    width: 100%;
  }
  .return-link {
    font-size: 16px !important;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1400px) {
  .main-row {
    padding: 40px;
  }
  .card {
    padding: 10px 15px 10px;
    width: 50%;
  }
}
